@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #6d92b7 !important;
}

nav{
    background-color: #395979;
}

table {
    background-color: #FFF !important;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title1 {
    font-family: 'Belgrano', serif;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    padding: 30px;
}

.title2 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
}

.box {
    position: absolute;
    top: 180px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 205px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.welcome {
    width: auto;
    padding: 10px 10px 0 10px;
    font-size: 24px;
    background-color: white;
}

.log {
    width: 250px;
}

.log::-webkit-input-placeholder {
    text-align: center;
}

.field {
    height: 35px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    background-color:whitesmoke;
}

.submit {
    align-self: flex-end;
    width: 125px;
    height: 30px;
    margin: 0 40px 10px 0;
    outline: none;
    border: none;
    border-radius: 2px;
    background: #51728A;
    color: white;
}

.submit:hover {
    background: #0683f9;
}

.submit:active {
    background: #afafaf;
}

.dnone {
    display: none;
}